backend/infra/modules/step_functions/definition.json
{
  "Comment": "VinciFlow Content Generation Pipeline - Stateful Intent Flow",
  "StartAt": "ParseIntent",
  "States": {
    "ParseIntent": {
      "Type": "Task",
      "Resource": "${arn_lambda_intent_parser}",
      "Next": "CheckIntentStatus"
    },
    "CheckIntentStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.task",
          "StringEquals": "AWAIT_CLARIFICATION",
          "Next": "EndForClarification"
        }
      ],
      "Default": "ProcessPosts"
    },
    "EndForClarification": {
      "Type": "Pass",
      "Comment": "Pipeline stops here to let user provide missing info.",
      "End": true
    },
    "ProcessPosts": {
      "Type": "Map",
      "ItemsPath": "$.posts",
      "ItemSelector": {
        "task": "GENERATE",
        "topic.$": "$$.Map.Item.Value.topic",
        "date.$": "$$.Map.Item.Value.date",
        "type.$": "$$.Map.Item.Value.type",
        "userId.$": "$.userId",
        "sessionId.$": "$.sessionId",
        "brandContext.$": "$.brandContext",
        "prompt.$": "$.prompt",
        "imagePrompt.$": "$.imagePrompt"
      },
      "MaxConcurrency": 5,
      "Iterator": {
        "StartAt": "GenerateContent",
        "States": {
          "GenerateContent": {
            "Type": "Task",
            "Resource": "${arn_lambda_generator}",
            "Retry": [
              {
                "ErrorEquals": ["Lambda.TooManyRequestsException", "ServiceException"],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "GenerateFailed",
                "ResultPath": "$.error"
              }
            ],
            "Next": "ApplyBranding"
          },
          "GenerateFailed": {
            "Type": "Fail",
            "Error": "GenerateContentFailed",
            "Cause": "Image or caption generation failed"
          },
          "ApplyBranding": {
            "Type": "Task",
            "Resource": "${arn_lambda_branding}",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "BrandingFailed",
                "ResultPath": "$.error"
              }
            ],
            "Next": "StoreDraft"
          },
          "BrandingFailed": {
            "Type": "Fail",
            "Error": "ApplyBrandingFailed",
            "Cause": "Branding step failed"
          },
          "StoreDraft": {
            "Type": "Task",
            "Resource": "${arn_lambda_storage}",
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "StoreFailed",
                "ResultPath": "$.error"
              }
            ],
            "End": true
          },
          "StoreFailed": {
            "Type": "Fail",
            "Error": "StoreDraftFailed",
            "Cause": "Storage step failed"
          }
        }
      },
      "End": true
    }
  }
}